.backdrop{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}
.alert-box{
    top: 30vh;
    left: 20vw;
    position: fixed;
    width: 60vw;
   
    background: white;
    z-index: 100;
    padding : 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.alert-box-action{
   text-align: right;
}